!.gitkeep
cihp_pgn/checkpoint/*
!cihp_pgn/checkpoint/.gitkeep
cihp_pgn/output/cihp_edge_maps/*
!cihp_pgn/output/cihp_edge_maps/.gitkeep
cihp_pgn/output/cihp_parsing_maps/*
!cihp_pgn/output/cihp_parsing_maps/.gitkeep
cihp_pgn/output/parse_image/*
!cihp_pgn/output/parse_image/.gitkeep
cihp_pgn/data/image/*
!cihp_pgn/data/image/.gitkeep
logs/
model/
*.pyc
.idea/
__pycache__/
model.ckpt*
cuda/include/
cuda/lib64/